* {
	text-align: center;
}

body {
	background-color: #2F4A60;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	background-color: #CAB29F;
	border-radius: 20px
}

.title {
	color: black;
	padding: 25px 10px 10px 10px; 
}

.subTitle {
	color: black;
	font-size: 18px;
}

a:hover{
	opacity: 0.7;
}
